apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "postgresql.fullname" . }}
  namespace: {{ .Values.global.namespace }}
spec:
  replicas: {{ .Values.postgresql.deployment.replicas }}
  selector: 
    matchLabels:
      {{- include "postgresql.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "postgresql.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - name: postgres
        image: "{{ .Values.postgresql.image.repository }}:{{ .Values.postgresql.image.tag }}"
        imagePullPolicy: {{ .Values.postgresql.image.pullPolicy }}
        ports:
        - containerPort: 5432
        envFrom:
        - secretRef:
            name: {{ include "postgresql.fullname" . }}-secret
        {{- if .Values.postgresql.persistence.enabled }}
        volumeMounts:
        - name: postgres-storage
          mountPath: /data
        env:
        - name: PGDATA
          value: /data
        {{- end }}
        resources:
          {{- toYaml .Values.postgresql.resources | nindent 12 }}
      {{- if .Values.postgresql.persistence.enabled }}
      volumes:
      - name: postgres-storage
        persistentVolumeClaim:
            claimName: {{ include "postgresql.fullname" . }}-pvc
      {{- end }}
